h1 {
  margin: 50px auto;
  width: 240px;
}
#container {
  width: 900px;
  height: 440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #c2d3e7;
}
.grid {
  border: solid 1px #c2d3e7;
  box-sizing: border-box;
  background-image: url("../images/bg.jpg");
}
